<div class="container" >
    <div class="col"></div>
    <div class="row login-row" style="height:450px;" >
            <div class="col">
                <div class="card shadow bg-dark " (click)="clearMessage()">
                    <h1 class="text-center  mt-4 mb-4 heading font-monospace" [ngStyle]="{color:authMessage?'red':'white'}"> {{authMessage||"User Register Here"}} </h1> 
                    <form action="" #form="ngForm" class="login-form d-flex flex-column align-items-center" (ngSubmit)="onSubmit(form)">
                        <div class="mb-3">
                            <label class="form-label text-white">Name</label>
                            <input  class="form-control" type="text" name="name" [(ngModel)]="name" id="" placeholder="Eg : Jhon"  required>
                            <label *ngIf="form.controls['name']?.invalid&&form.controls['name'].touched||!form.controls['name']?.value.trim()&&form.submitted" class="text-warning mt-1">Invalid Name</label>
                        </div>
                        <div class="mb-3">
                                <label class="form-label text-white">Email</label>
                                <input  class="form-control" type="text" name="email" [(ngModel)]="email" id="" placeholder="Eg : Jhon123@gmail.com" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"required>
                                <label *ngIf="form.controls['email']?.invalid&&form.controls['email'].touched||!form.controls['email']?.value.trim()&&form.submitted" class="text-warning mt-1">Invalid Email</label>

                            </div>
                            <div class="mb-3">
                                <label class="form-label text-white">Password</label>
                                <input class="form-control" type="password" name="password" [(ngModel)]="password" pattern="^[a-zA-Z0-9@$]+$" placeholder="Enter Your Password" required>
                                <label *ngIf="form.controls['password']?.invalid&&form.controls['password'].touched||!form.controls['password']?.value.trim()&&form.submitted" class="text-warning mt-1">Invalid password</label>
                            </div>
                            <div class="mb-3">
                                <label class="form-label text-white">Confirm Password</label>
                                <input class="form-control" type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Enter Your Password" required>
                                <label *ngIf="form.controls['confirm-password']?.invalid&&form.controls['confirm-password'].touched||form.controls['password']?.value!==form.controls['confirmPassword']?.value&&form.submitted" class="text-warning mt-1">Password not Matching</label>
                            </div>
                            <div>
                                <button  type="submit" class="btn  loginButton me-3 mt-3"> Register</button>
                                <button type="submit"  routerLink="" class="btn border-white text-white registerButton ms-3 mt-3">Login</button>
                            </div>
                        </form>
                </div>
            </div>
            <div class="col"></div>
        </div>

    </div>
