.login-row{
    margin-top: 100px;
}
.login-form{
    height: 40vh;
    width: 30vw;
}

.login-form input{
    width: 350px;
}
.loginButton{
    background-color: black;
    color: white;
}



.loginButton:hover{
    transform: scale(1.1) ;
    transition: 0.5s ease-out;
    background-color: green;
}

.registerButton:hover{
    transform: scale(1.1) ;
    transition: 0.5s ease-out;
    background-color: black;
    color: ghostwhite;
}
.heading{
font-weight: 900;
}

.login-form input::placeholder{
    color:grey;
}