    <div class="container" >
    <div class="row login-row"  >
            <div class="col"></div>
            <div class="col">
                <div class="card shadow bg-dark ">
                    <h2 class="text-center text-white mt-3 heading font-monospace"> User Login Here </h2> 
                    <form action=""  #form="ngForm" (ngSubmit)="onSubmit(form)" class="login-form mt-2 d-flex flex-column align-items-center">
                        <div class="mb-3">
                                <label class="formLabel text-white font-monospace">User Name</label>
                                <input  class="form-control" type="text" name="userName" id="" placeholder="Eg : Jhon123@gmail.com" pattern="[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,4}" [(ngModel)]="userName" required>
                                <label *ngIf="form.controls['userName']?.invalid&&form.controls['userName'].touched" class="errorMessage text-warning">Invalid User Name</label>
                            </div>
                            <div class="mb-3">
                                <label class="formLabel text-white font-monospace">Password</label>
                                <input class="form-control" name="password" type="password" placeholder="Enter Your Password" [(ngModel)]="password" pattern="^[a-zA-Z0-9@$]+$" required>
                                <label *ngIf="form.controls['password']?.invalid&&form.controls['password'].touched" class="errorMessage text-warning text-center">Invalid Password</label>
                            </div>
                            <div>
                                <button type="submit" class="btn  loginButton me-3 mt-4"> Login</button>
                                <button type="submit" routerLink="register" class="btn border-white registerButton ms-3 mt-4">Register</button>
                            </div>
                        </form>
                </div>
            </div>
            <div class="col"></div>
        </div>

    </div>
