<div class="container">
    <div class="row" style=" margin-top: 100px;">
        <div class="col"></div>
        <div class="col">
        <div class="card bg-light d-flex flex-row">
<div class="profile col-4" style="background-color: wheat;">
    <img (click)="editProfile()" class="m-3 text-white" src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="img"/>
    <div *ngIf="!profileEdit">
        <div  class="d-flex justify-content-center" >
            <img class="profile-pic" src="http://localhost:3000/images/{{userDetails?.profilePic?.filename}}">
        </div>
        <div  class="details d-flex flex-column">
            <p class="name font-monospace">Email:{{userDetails?.email}}</p>
            <p class="name font-monospace">Name:{{userDetails?.name}}</p>
        </div>
    </div>
<app-edit-profile *ngIf="profileEdit"></app-edit-profile>
</div>
<div class="image col-8 text-center">
<h1 class="text-3d" style="color: blanchedalmond;">WELCOME HOME</h1>
</div>
        </div>    
        </div>
        <div class="col"></div>

    </div>
</div>